<meta charset="UTF-8">
<script>
$.datepicker.setDefaults({
    dateFormat: 'yyyy-mm-dd',
    prevText: '이전 달',
    nextText: '다음 달',
    monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
    dayNames: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
    dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
    showMonthAfterYear: true,
    yearSuffix: '년',
 	  minDate: "+1D",
 	  onSelect: function (dateText, inst) {
 		  	console.log($('#tkdateR').val());
 		    console.log(dateText);
 			$('#tkdateR').val(dateText.substring(4,14)); 
 	  }
});
$(function() {
  $( "#tkdate" ).datepicker();
  
});
</script>

<h2 align="center">티켓예매 페이지</h2>
<div align="center">
<table border="1">
<col width="300px"><col width="300px"><col width="300px"><col width="300px">
<thead>
	<tr>
		<th>상영 날짜</th>
		<th>영화 제목</th>
		<th>상영 시간</th>
		<th>좌석 선택</th>			
	</tr>
</thead>

<tbody>
	<tr>
		<th>
			<div class="col" >
				<br><div id="tkdate"></div> 
				<input type="hidden" id="tkdateR" value="">
			</div>
		</th>
		
		<th>
			<select>
				<option id="title">
				</option>
			</select>
		</th>
	</tr>
</tbody>

</table>
</div>

<script type="text/javascript">
function mtitle() {
	$.ajax({
		url:'http://localhost:3000/mtitle',
		type:'post',
		data:{'sdate':tkdate},
		success:function(list){
			
			$("#list").html("");
			
			for(i = 0;i < mtitle.length; i++){
				alret(mtitle[i]);
				
				
				$("#mtitle").append;
			}
		},
		error:function(){
			alert('error');
		}		
	});
}
</script>
